<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Eventos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Lista de Eventos</h1>
        <a href="/eventos/criar" class="btn btn-primary mb-3">Criar Novo Evento</a>
        
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Data Limite</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="evento : ${eventos}">
                    <td th:text="${evento.id}">ID</td>
                    <td th:text="${evento.titulo}">Título</td>
                    <td th:text="${evento.dataLimite}">Data Limite</td>
                    <td>
                        <a th:href="@{/eventos/editar/{id}(id=${evento.id})}" class="btn btn-info">Editar</a>
                        <a th:href="@{/eventos/deletar/{id}(id=${evento.id})}" class="btn btn-danger">Deletar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
